body{
    background-color: #BBDEFB; /* Fundo azul marinho */
    color: #333333; /* Texto em branco para contraste */
    font-family: 'Bangers', sans-serif;
    padding-top: 70px;
}

html {
  scroll-behavior: smooth;
}

 .brawler-box {
            position: relative;
            overflow: hidden;
            border-radius: 15px;
        }
        .brawler-box img {
            transition: transform 0.3s;
        }
        .brawler-box:hover img {
            transform: scale(1.1);
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            opacity: 0;
            transition: opacity 0.3s;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .brawler-box:hover .overlay {
            opacity: 1;
        }

/* Navbar customizada */
.navbar-custom {
    background-color: transparent;
    transition: background-color 0.3s;
}

.navbar-custom.scrolled {
    background-color: #64B5F6 !important;
}

/* Estilo da imagem do logo */
.tamanhoimagem {
    width: 70px;
    height: 70px;
}

/* Estilo dos botões para evitar fundo branco */
button {
    background-color: #64B5F6;
    color: #FFFFFF;
    border: none;
    outline: none;  /* Remove o contorno após o clique */
}

/* Ocultar submenus inicialmente */
.dropdown-menu {
    display: none;
    background-color: #64B5F6;
    border-radius: 0.5rem;
    right: 0;
    left: auto;
}

/* Mostrar submenus ao clicar */
.dropdown-menu.show {
    display: flex;
}

/* Horizontalidade */
.dropdown-horizontal {
    flex-direction: row;
}

/* Estilo dos links */
.nav-link {
    color: #FFFFFF !important;
}

.nav-link:hover {
    color: #555 !important;
}

/* Evitar que o botão fique na cor de hover após clicar */
button:focus,
button:active {
    background-color: #64B5F6; /* Mantém a cor original */
    color: #FFFFFF;
}

/* Estilo para hover e clique nos botões */
button:hover,
button:focus-visible {
    background-color: #64B5F6;
    color: #FFFFFF;
}

/* Itens do submenu */
.dropdown-item {
    color: #FFFFFF;
}

/* Hover e Foco para itens do submenu */
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #64B5F6;
    color: #555;
}

button i {
    transition: transform 0.3s ease;
}

/* Quando o submenu de "Raridade" estiver visível, gire a seta */
#raridadeMenu.show i {
    transform: rotate(180deg); /* Gira a seta */
}

div, h1{
    text-align: center;
}

/* ========================= */
/* CARDS */
/* ========================= */

.card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    border-radius: 15px;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px) scale(1.03);
}

/* ========================= */
/* RARIDADES */
/* ========================= */
.raro {
    border: 4px solid #228B22;
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
}

.super-raro {
    border: 4px solid #4169E1;
    box-shadow: 0px 0px 10px rgba(0, 128, 255, 0.5);
}

.epico {
    border: 4px solid #6A0DAD;
    box-shadow: 0px 0px 10px rgba(169, 0, 255, 0.5);
}

.mitico {
    border: 4px solid #B22222;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
}

.lendario {
    border: 4px solid #DAA520;
    box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.5);
}

.tamanhoimagem{
    width: 70px;
    height: 70px;
    
}

.img{
    width: 70%;
    height: 150px;
    object-fit: contain;
    margin: 10px auto;
    display: block;

    }

.size{
    font-size: 20;
}

 ul li{
    font-size: large;
}

 .dropdown-submenu {
      position: relative;
    }

    .dropdown-submenu .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -5px;
      margin-left: 0;
    }

    /* Exibir o submenu ao passar o mouse */
    .dropdown-submenu:hover > .dropdown-menu {
      display: block;
    }


 /* Efeito de transição suave */
  .accordion-collapse {
    opacity: 0;
  visibility: hidden; /* Inicialmente escondido */
  transition: opacity 0.2s ease, visibility 0.2s ease; /* Transição mais rápida de 0.3s */
  }

.accordion-collapse.show {
  opacity: 1;
  visibility: visible; /* Torna visível */
}

.accordion-button {
    font-family: 'Bangers', sans-serif;
    background-color: #f1f1f1;
}

.accordion-button:not(.collapsed) {
    background-color: #e0e0e0;
    color: black;
}